[submodule "make"]
	path = make
	url = ../c-projects-makefile
[submodule "src/range"]
	path = src/range
	url = ../submodule-range
[submodule "src/window"]
	path = src/window
	url = ../submodule-window
[submodule "src/convert"]
	path = src/convert
	url = ../submodule-convert
[submodule "src/log"]
	path = src/log
	url = ../submodule-log
[submodule "src/keyargs"]
	path = src/keyargs
	url = ../submodule-keyargs
[submodule "src/pkg"]
	path = src/pkg
	url = ../submodule-pkg
[submodule "src/table"]
	path = src/table
	url = ../submodule-table
[submodule "src/tar"]
	path = src/tar
	url = ../submodule-tar
[submodule "src/immutable"]
	path = src/immutable
	url = ../submodule-immutable
[submodule "src/lang"]
	path = src/lang
	url = ../submodule-lang
[submodule "src/http"]
	path = src/http
	url = ../submodule-http
[submodule "src/network"]
	path = src/network
	url = ../submodule-network
